.transition {
  position: absolute;
width: 78px;
height: 768px;
left: 0px;
top: 0px;
transition: 0.5s;
background: #18C29C;
  }
  .transition.active {
    position: absolute;
    width: 250px;
    height: 768px;
    left: 0px;
    top: 0px;
  }

  #menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #18C29C;
    border: none;
    margin-right: 20px;
  }

  #search-icon {
    padding: 10px;
    background: #DCE4E3;
    border-radius: 12px;
    margin-right: 20px;
    margin-top: 50px;
  }
  
 
  
  
#git-icon{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
  top: 147px;
  
  
}
  
#pet-icon{
  position: absolute;
width: 24px;
height: 24px;
left: 27px;
top: 205px;

}



  